@font-face {
	font-style: normal;
	font-weight: bold;
	font-family: "Roboto";

	font-display: swap;
	src: url("robotobold.woff2") format("woff2"),
		url("robotobold.woff") format("woff");
}

@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: "Roboto";

	font-display: swap;
	src: url("roboto.woff2") format("woff2"), url("roboto.woff") format("woff");
}
