.excel {
}

.excel__header {
  display: flex;
  justify-content: space-between;
  height: @header-height;
  padding: 8px 4px 0;
}

.excel__toolbar {
  height: @toolbar-height;
  padding: 7px 10px;

  border-top: 1px solid @color-input-border;
  border-bottom: 1px solid @color-input-border;
}

.excel__formula {
}

.excel__table {
}
