.table__row {
  display: flex;
  flex-direction: row;
  height: @height-row;
  min-height: 20px;
}

.table__row-info {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: @width-info-cell;

  background: @color-table-background;
  border: 1px solid @color-input-border;
  border-top: none;

  user-select: none;
}

.table__row-data {
  display: flex;
}

.table__column {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: @width-cell;
  min-width: 40px;

  background: @color-table-background;
  border: 1px solid @color-input-border;
  border-top: 0;
  border-left: 0;

  user-select: none;
}

.table__column-resize {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  width: 3px;

  background-color: @color-input-focus;
  opacity: 0;

  &:active,
  &:hover {
    cursor: col-resize;
    opacity: 1;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 1px;
      height: 100vh;

      background-color: @color-input-focus;
    }
  }
}

.table__row-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  height: 4px;

  background-color: @color-input-focus;
  opacity: 0;

  &:active,
  &:hover {
    cursor: row-resize;
    opacity: 1;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100vw;
      height: 1px;

      background-color: @color-input-focus;
    }
  }
}

.table__cell::-webkit-scrollbar {
  display: none;
}

.table__cell {
  width: @width-cell;
  min-width: 40px;
  padding: 5px;
  overflow-y: scroll;

  color: @color-black;
  white-space: wrap;

  border: 1px solid @color-table-cell;
  border-top: 0;
  border-left: 0;
  outline: none;
}
